
.home{
    &__tiutlo{

        &--wrapper{
            margin: 0px 8% 6% 8%;
            text-align: center;
        }

        &--texto1{
            line-height: 33px;
            width: 76.3vw;

            &-span{
                color: $color-secundario;
            }
        }

        
    }

    &__img{
        text-align: center;
        &--picture{
            width: 80.8vw;
            height: 19.8vh;
        }

    }
    //barra de busqueda

    &__searchbox{
        display: flex;
        flex-direction: column;
        margin: 0 0 0 5%;
        width: 88vw;
        z-index: 1;
        position: relative;
    }




    //trendings
    &__subtreadings{
        height: 12rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 22% 0 22%;
        border-bottom: 2px solid #eee;
    }

    &__cajaDeBusqeudas{
        margin-top: 20%;
        &--texto2{
            text-align: center;
            line-height: 4rem;
            font-size: 2.5rem;
            font-weight: 700;
            color: $color-primario;
        }
    }

}








