

.menu{

    &__logo{
        z-index: 2000;
        margin: 2.9rem 0 1.72rem 2.2rem;
    }

    &__burgger{
        margin-right: 2.6rem;
        position: relative;
        width: 50px;
        height: 50px;
        z-index: 2000;

        &--line{
            position: absolute;
            height: 2px;
            width: 30px;
            background-color:#333;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            
        }

        &--line::before,
        &--line::after{
            background: #333;
            content: '';
            display: block;
            height: 2px;
            position: absolute;
            transition: all .35s ease-out;
            width: 30px;
        }

        &--line::before{
            top: 11px;
        }

        &--line::after{
            top: -11px;
        }
    }


    //Menu desplegable.

    &__nav{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        width: 0;
        height: 100vh;
        padding-top: 10rem;
        opacity: 0;
        transition: all .8s; 
    }


    &__backgroud{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        opacity: 0;
        width: 100vw;
        background-color: $color-primario-opacity;
        margin-top: 9rem;
        transition: transform .8s;
    }


    &__items{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
        

        &-item{
            &:link,
            &:visited{
                display: inline-block; // Para que funcione la aniamcion del desplazamiento en x
                font-size: 1.7rem;
                font-weight: 700;
                //padding: 1rem 2rem;
                color: $color-white;
                text-decoration: none;
                text-transform: uppercase;
                transition: all .4s;
            }

            &:hover,
            &:active{
                transform: translateX(1rem);
            }
            
            //color: $color-white;
        }
    }
}

.list-menu{
    padding: 3.5rem 0 3.5rem 0;
    border-bottom: 1px solid #eee;
}

//movimientos.

.btn-bugger:checked ~ .menu__nav{
    opacity: 1;
    width: 100%;
}

.btn-bugger:checked ~ .menu__backgroud{
    opacity: 1;
    transform: scale(50);
    height: 100vh;
}


.btn-bugger:checked ~ .menu__burgger .menu__burgger--line{
    background: transparent;

}

.btn-bugger:checked ~ .menu__burgger .menu__burgger--line::before{
    opacity: 1;
    transform: rotate(405deg);

}

.btn-bugger:checked ~ .menu__burgger .menu__burgger--line::after{
    opacity: 1;
    transform: rotate(-405deg);
}

.btn-bugger:checked ~ .menu__burgger:not(steps) .menu__burgger--line::before,
.btn-bugger:checked ~ .menu__burgger:not(steps) .menu__burgger--line::after{
    top: 0;
}



