
.searchbox{

    &__input{
        height: 5rem;
        border: 1px solid $color-primario;
        padding: 0 0 0 12%;
        border-radius: 3rem;
        width: 85%;
        transition: all .2s;
        margin-right: -5.25rem;
        

        &:focus{
            font-weight: 700;
            color: $color-black;
            outline: none;
            width: 95%;
        }

    }

    &__items{
        list-style: none;
        max-height: 100%;
        overflow-y: auto;
        opacity: 0;
        pointer-events: none;
        margin: 0px 6% 0 10%;
    }


    &__item{
        display: flex;
        align-items: center;
        padding: 14px;
    }

    &__item:hover{
        background: #efefef;
    }

}


.btnsearch{
    //position: absolute;
    border: none;
    background-color: $color-white;
    width: 4.0rem;
    height: 4.0rem;

    &:focus{
        outline: none;
    }

    &:active{
        transform: translateY(2px);
    }

    &-icon{
        height: 2.0rem;
        width: 2.0rem;
        fill: $color-primario;
    }
}

.btnclose{
    //position: absolute;
    border: none;
    background-color: $color-white;

    display: none;
    opacity: 0;
    visibility: none;

    &-icon{
        height: 2.0rem;
        width: 2.0rem;

    }
}

.btnsearch-icon-masck{
    height: 1.58rem;
    width: 1.58rem;
    margin-right: 10px;
    fill: #9CAFC3;
}



//CARD search 
.home__searchbox.active .searchbox__items{
    opacity: 1;
    pointer-events: auto;
    transition: all .2s ease
}


.home__searchbox.active .searchbox__item{
    display: flex;
    color: #9CAFC3;
    font-size: 1.6rem;
    text-transform: capitalize;
}






