
.searchbox{

    &__input{
        height: 5rem;
        border: 1px solid $color-primario;
        padding: 0 0 0 12%;
        border-radius: 3rem;
        width: 85%;
        transition: all .2s;
        margin-right: -3.25rem;

        &:focus{
            font-weight: 700;
            color: $color-black;
            outline: none;
            width: 95%;
        }

    }

    &__backgroud{

    }

    &__items{
        list-style: none;
        max-height: 12rem;
        overflow-y: auto;
        opacity: 0;
        pointer-events: none;
    }


    &__item{
        padding: 2% 0 0 10%;
        width: 100%;
        cursor: default;
        border-radius: .3rem;
        display: none;
    }

    &__item:hover{
        background: #efefef;
    }

}


.btnsearch{
    //position: absolute;
    border: none;
    background-color: $color-white;

    &:focus{
        outline: none;
    }

    &:active{
        transform: translateY(2px);
    }

    &-icon{
        height: 2.0rem;
        width: 2.0rem;
        fill: $color-primario;
    }
}

.btnclose{
    //position: absolute;
    border: none;
    background-color: $color-white;

    display: none;
    opacity: 0;
    visibility: none;

    &-icon{
        height: 2.0rem;
        width: 2.0rem;

    }
}



//CARD search 
.home__searchbox.active .searchbox__items{
    opacity: 1;
    pointer-events: auto;
}


.home__searchbox.active .searchbox__item{
    display: block;
}






