
.searchbox{

    &__input{

        height: 5rem;
        border: 1px solid $color-primario;
        padding: 0 0 0 12%;
        border-radius: 3rem;
    }

    &__backgroud{


    }

    &__items{
        list-style: none;
        max-height: 12rem;
        overflow-y: auto;
        opacity: 0;
        pointer-events: none;
    }


    &__item{
        padding: 2% 0 0 10%;
        width: 100%;
        cursor: default;
        border-radius: .3rem;
        display: none;
    }

    

    &__item:hover{
        background: #efefef;
    }

}


.btnsearch{
    position: absolute;
    padding: 0% 2% 2% 2%;
    right: 2rem;
    top: 1.5rem;
    font-size: 2rem;
    color: $color-primario;
}

.btnclose{
    position: absolute;
    left: 2rem;
    top: 2rem;
}



//CARD search 


.home__searchbox.active .searchbox__items{
    opacity: 1;
    pointer-events: auto;
}


.home__searchbox.active .searchbox__item{
    display: block;
}






