
.trendings{
    height: 90vh;
    background-color:$color-light-grey;
    text-align: center;
    margin-top: 7.8rem;
    padding-bottom: 7px;
    

    &__titulo{
        font-size: 20px;
        color: $color-primario;
        padding-top: 46px;
    }

    &__subtitulo{
        font-size: 16px;
        line-height: 23px;
        font-family:'Roboto', sans-serif ;
        font-weight: 400;
    }

    &__scrolling--wrapper{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        margin-top: 3.2rem;
        width: 100vw;
        height: 32rem;


        &-card{
            flex: 0 0 auto;
            width: 30rem;
            height: 30rem;
            position: relative;
            margin: 0 .5rem 0 2rem;
            border-radius: 4px;
            
        }


        &-icons{
            //opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: right;
            padding: 1em;
            backdrop-filter: blur(2px);
            background-color: rgba($color-primario, 0.55);
            transform: rotateX(90deg) scale(1);
            transition: all 0.4s ease;
            
        }

        &-titulos{
            //opacity: 0;
            position: absolute;
            bottom: 0;
        }

        &-img{
            width: 100%;
            height: 100%;
            
        }

    }

}

.trendings__scrolling--wrapper-card:hover .trendings__scrolling--wrapper-icons{
    transform: rotateX(0) scale(1);
}


.boxtrendings{
    display: flex;
    align-items: center;
}













