

html {
  box-sizing: border-box;
  font-size: 62.5%;

}
*,
*:before, 
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.body{
  border-top: .8rem solid $color-primario;
  border-radius: 1rem;
  border-bottom: .8rem solid $color-primario;
}

