

//tipos de letra a usar.

// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;

body{
    font-family: 'Montserrat', sans-serif ;
    font-weight: 400;
}

.tipografiaMovileTitulo{
    font-size: 2.5rem;
    color: $color-primario;
    //line-height: 3.3rem agregar a la etiqueta del texto 
}

.tituloBuscador{
    font-family:'Roboto', sans-serif ;
    font-size: 1.6rem;
    color: $color-grey-light-3;
    //line-height: 1.9rem agregar a la etiqueta del texto 
    //font-weight: 300;
}

.subtitulosfuerte{
    font-family: 'Montserrat', sans-serif ;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: $color-primario;
}

.subtitulos{
    font-family: 'Montserrat', sans-serif ;
    font-weight: 300;
    font-size: 14px;
    color: $color-primario;
}