@-webkit-keyframes moveInBtton {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBtton {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.tipografiaMovileTitulo {
  font-size: 2.5rem;
  color: #572EE5;
}

.tituloBuscador {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: #6B7989;
}

.subtitulosfuerte {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #572EE5;
}

.subtitulos {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #572EE5;
}

.u-center-text {
  text-align: center;
}

.icon-basic-create-gifos {
  background-image: url(./img/button-crear-gifo.svg);
  background-size: 54px 54px;
}

.btn-bugger {
  position: absolute;
  opacity: 0;
}

.btn {
  border: 1px solid #572EE5;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4.0rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #572EE5;
  color: white;
}

.btn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #FFFFFF;
  color: #572EE5;
}

.btn--white::after {
  background-color: #FFFFFF;
}

.btn::after {
  content: "";
  /* para que este elemntos aparesca se debe espesificar su contenido, asi este vacio */
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn--white::after {
  background-color: #FFFFFF;
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  /* truco para desvamecer algo. */
}

.botton {
  border: none;
  background-color: #FFFFFF;
}

.home__tiutlo--wrapper {
  margin: 0px 8% 6% 8%;
  text-align: center;
}

.home__tiutlo--texto1 {
  line-height: 33px;
  width: 76.3vw;
}

.home__tiutlo--texto1-span {
  color: #50E3C2;
}

.home__img {
  text-align: center;
}

.home__img--picture {
  width: 80.8vw;
  height: 19.8vh;
}

.home__buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 0;
}

.home__buscador--icons {
  position: absolute;
  top: 20px;
  left: 40px;
}

.home__searchinput {
  background-color: green;
  margin: 0 5% 0 5%;
}

.home__searchinput--box {
  width: 100%;
  height: 5rem;
  border-radius: 2.7rem;
  padding: 0 0 0 17%;
}

.home__subtreadings {
  height: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 22% 0 22%;
  border-bottom: 2px solid #eee;
}

.home__cajaDeBusqeudas {
  margin-top: 20%;
}

.home__cajaDeBusqeudas--texto2 {
  text-align: center;
  line-height: 4rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #572EE5;
}

.lupita {
  position: absolute;
  left: 26rem;
}

.menu__logo {
  z-index: 2000;
}

.menu__burgger {
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 2000;
}

.menu__burgger--line {
  position: absolute;
  height: 2px;
  width: 30px;
  background-color: #333;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu__burgger--line::before, .menu__burgger--line::after {
  background: #333;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  -webkit-transition: all .35s ease-out;
  transition: all .35s ease-out;
  width: 30px;
}

.menu__burgger--line::before {
  top: 11px;
}

.menu__burgger--line::after {
  top: -11px;
}

.menu__nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 0;
  height: 100vh;
  padding-top: 10rem;
  opacity: 0;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.menu__backgroud {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  width: 100vw;
  background-color: rgba(86, 46, 229, 0.87);
  margin-top: 9rem;
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  transition: transform .8s;
  transition: transform .8s, -webkit-transform .8s;
}

.menu__items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

.menu__items-item:link, .menu__items-item:visited {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.menu__items-item:hover, .menu__items-item:active {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.list-menu {
  padding: 3.5rem 0 3.5rem 0;
  border-bottom: 1px solid #eee;
}

.btn-bugger:checked ~ .menu__nav {
  opacity: 1;
  width: 100%;
}

.btn-bugger:checked ~ .menu__backgroud {
  opacity: 1;
  -webkit-transform: scale(50);
          transform: scale(50);
  height: 100vh;
}

.btn-bugger:checked ~ .menu__burgger .menu__burgger--line {
  background: transparent;
}

.btn-bugger:checked ~ .menu__burgger .menu__burgger--line::before {
  opacity: 1;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

.btn-bugger:checked ~ .menu__burgger .menu__burgger--line::after {
  opacity: 1;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

.btn-bugger:checked ~ .menu__burgger:not(steps) .menu__burgger--line::before,
.btn-bugger:checked ~ .menu__burgger:not(steps) .menu__burgger--line::after {
  top: 0;
}

.layout {
  margin-top: 15%;
  margin-bottom: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -webkit-column-gap: 5.6%;
          column-gap: 5.6%;
  row-gap: 1.1%;
}

.layout__img {
  width: 30vw;
  height: 20vh;
}

.layout__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50%;
}

.menu {
  width: 100vw;
  height: 9.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 9.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */