@-webkit-keyframes moveInBtton {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBtton {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.tipografiaMovileTitulo {
  font-size: 2.5rem;
  color: #572EE5;
}

.tituloBuscador {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: #6B7989;
}

.u-center-text {
  text-align: center;
}

.icon-basic-create-gifos {
  background-image: url(./img/button-crear-gifo.svg);
  background-size: 54px 54px;
}

.btn-bugger {
  position: absolute;
  opacity: 0;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4.0rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #572EE5;
  color: white;
}

.btn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #FFFFFF;
  color: #572EE5;
}

.btn--white::after {
  background-color: #FFFFFF;
}

.btn::after {
  content: "";
  /* para que este elemntos aparesca se debe espesificar su contenido, asi este vacio */
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn--white::after {
  background-color: #FFFFFF;
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  /* truco para desvamecer algo. */
}

.menu__burgger {
  position: relative;
  width: 50px;
  height: 50px;
}

.menu__burgger--line {
  position: absolute;
  height: 2px;
  width: 30px;
  background-color: #333;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu__burgger--line::before, .menu__burgger--line::after {
  background: #333;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  -webkit-transition: all .35s ease-out;
  transition: all .35s ease-out;
  width: 30px;
}

.menu__burgger--line::before {
  top: 11px;
}

.menu__burgger--line::after {
  top: -11px;
}

.menu__items {
  list-style: none;
  background-color: rgba(38, 148, 38, 0.267);
  z-index: 1;
}

.menu__items-item {
  text-decoration: none;
}

.btn-bugger:checked ~ .menu__burgger .menu__burgger--line {
  background: transparent;
}

.btn-bugger:checked ~ .menu__burgger .menu__burgger--line::before {
  opacity: 1;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

.btn-bugger:checked ~ .menu__burgger .menu__burgger--line::after {
  opacity: 1;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

.btn-bugger:checked ~ .menu__burgger:not(steps) .menu__burgger--line::before,
.btn-bugger:checked ~ .menu__burgger:not(steps) .menu__burgger--line::after {
  top: 0;
}

.menu {
  width: 100vw;
  height: 9.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: tomato;
  z-index: 2;
}

.elementos {
  width: 100%;
  height: 20rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(/assets/img/ilustra_header.svg);
  background-size: cover;
}

.btn {
  margin: 50px;
}

.feature-box {
  width: 500px;
  height: 500px;
  background-color: lightsteelblue;
}
/*# sourceMappingURL=style.css.map */