@mixin elemtocentrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

/*
0 - 600px:        Phone
600 - 900px       Tablet portatil
900 - 1200px      Tablet landscape
[1200 - 1800]     Desktop
1800px ++:        Big desktop
*/


/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- desktop
*/


@mixin respond ($breakpoint) {

    @if $breakpoint == phone {
        @media (min-width: 37.5em) { @content };    //600px
    }

    @if $breakpoint == tab-port {
        @media (min-width: 56.25em) { @content };     //900
    }
    
}