
//Colores

$color-primario:#572EE5;
$color-secundario:#50E3C2;


//oscuros...
$color-black:#000000;
$color-light-grey:#F3F5F8;
$color-backgroud-darkmode:#37383C;
$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;
$color-grey-light-3:#6B7989;

$color-grey-dark:#777;
$color-grey-dark-2:#999;


//blanco..
$color-white:#FFFFFF;


//tamaño de funetes predeterminada.

$defaul-font-zise: 1.6rem;

