
//Colores

$color-primario:#572EE5;
$color-secundario:#50E3C2;


//oscuros...
$color-terceario:#000000;
$color-light-grey:#F3F5F8;
$color-backgroud-darkmode:#37383C;


//blanco..
$color-cuaternario:#FFFFFF;


//tamaño de funetes predeterminada.

$defaul-font-zise: 1.6rem;

