

.layout{
    margin-top: 15%;
    margin-bottom: 50%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto; 
    column-gap: 5.6%;
    row-gap: 1.1%;

    &__img{
        width: 30vw ;
        height: 20vh;
    }

    &__btn{
        display: flex;
        justify-content: center;
        margin-bottom: 50%;
    }
}