
.layout{
    width: 100%;
    //background-color: greenyellow;
    //Estilos de la card de la parte de busqueda.
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    grid-gap: 2rem;
    justify-content: center;
    padding: 0 2.5rem 0 2.5rem;

    
    
    &__card{
        overflow: hidden;
        height: 30rem;
        width: 100%;
        position: relative;
        box-shadow: 0 0 5px gray;
        border-radius: 4px;

        &--btn{
            border: none;
            background-color: $color-white;
            height: 3.2rem;
            width: 3.2rem;
        }


        &--icons{
            //opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: right;
            padding: 1em;
            backdrop-filter: blur(2px);
            background-color: rgba($color-primario, 0.55);
            transform: rotateX(90deg) scale(1);
            transition: all 0.4s ease;

            &-like{
                width: 100%;
                height: 100%;

            }

            &-download{
                width: 100%;
                height: 100%;
                
            }
        }

        &--titulos{
            //opacity: 0;
            position: absolute;
            bottom: 0;
        }
    }

    &__img{
        width: 100%;
        height: 100%;
        
    }

}

.layout__card:hover .layout__card--icons{
    transform: rotateX(0) scale(1);
}

// ANCHOR
.ancla{
    &:link,
    &:visited{
        text-decoration: none;
        padding: 0.2rem 0.2rem;
        display: inline-block;
        transition: all .2s;
    }

    &:hover{
        transform: translateY(-0.3rem);
        box-shadow: 0 1.0rem 2.0rem rgba($color-black, .2);
        color: white;
    }

    &:active{
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1.0rem rgba($color-black, .2);
    }
}
