

.layout{
    margin-top: 15%;
    margin-bottom: 50%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto; 
    column-gap: 5.6%;
    row-gap: 1.1%;

    &__img{
        width: 30vw ;
        height: 20vh;
    }

    &__btn{
        display: flex;
        justify-content: center;
        margin-bottom: 20%;
    }

    //Estilos de la card de la parte de busqueda.

    &__card{
        position: relative;


        &--icons{
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;
        }

        &--titulos{
            position: absolute;
            top: 9rem;
            left: 0;
            opacity: 0;
        }
    }

    &__card:hover &__card--icons{
        opacity: 1;
    }

    &__card:hover &__card--titulos{
        opacity: 1;
    }
}