



.menu{
    width: 100vw;
    height: 9.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: tomato;
    z-index: 2;
}






