

.menu{
    width: 100vw;
    height: 9.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    justify-content: space-between;
}

.home{
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 9.5rem;
    align-items: center;
}





